<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelef.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>OAuthSample</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <link href="../static/css/app.css"
          th:href="@{/css/app.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <img class="img-circle" th:src="${#authentication.principal.picture}"/>
                <h3 sec:authentication="principal.username">User Name</h3>
                <h4 sec:authentication="principal.email">Email</h4>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-success">Logout</button>
                </form>

            </div>
        </div>
    </div>
</body>
</html>