<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelef.org">
<head>
    <meta charset="UTF-8"/>
    <title>OAuth2 Sample</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <link href="../static/css/app.css"
          th:href="@{/css/app.css}" rel="stylesheet" media="screen"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <form name="googleLoginForm" method="post" action="/google_oauth2_login">
                    <button type="submit" class="btn btn-danger">
                        Login
                    </button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>